* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

ul, li, ol {
  list-style: none;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #8AAAE5;
}

#full {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  display: none;
}
#full > div {
  width: 100vw;
  height: 100%;
  background-color: aliceblue;
}

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 3000px;
}

#menu {
  width: 33vw;
  height: 33vw;
  position: relative;
  transform-style: preserve-3d;
  background-color: darkcyan;
  border-radius: 50%;
  z-index: -1;
}

.circleItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 30vw;
  height: 30vw;
  border: 1px solid black;
  background-color: #000;
  opacity: 0.8;
  transition: 1s;
}
.circleItem img {
  width: 100%;
  height: 100%;
}
.circleItem:nth-child(1) {
  z-index: 1;
}
.circleItem:nth-child(2) {
  z-index: 2;
}
.circleItem:nth-child(3) {
  z-index: 3;
}
.circleItem:nth-child(4) {
  transform: rotateY(65deg) translateZ(30vw) translateY(5vw);
  z-index: 4;
}
.circleItem:nth-child(5) {
  transform: rotateY(130deg) translateZ(30vw) translateY(20vw);
  z-index: 5;
}
.circleItem:nth-child(6) {
  transform: rotateY(195deg) translateZ(30vw) translateY(30vw);
  z-index: 6;
}
.circleItem:nth-child(7) {
  transform: rotateY(270deg) translateZ(30vw) translateY(40vw);
  z-index: 7;
}