@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

ul, li, ol {
  list-style: none;
}

@-webkit-keyframes spin {
  from {
    transform: rotateY(0) rotateX(0);
  }
  to {
    transform: rotateY(-360deg) rotateX(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotateY(0) rotateX(0);
  }
  to {
    transform: rotateY(-360deg) rotateX(360deg);
  }
}
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #50586C;
}

body::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #50586C; /* 스크롤바의 색상 */
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: #c7d3ee;
}

header {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 9;
}
header ul {
  display: flex;
  justify-content: space-around;
  padding: 1vw;
}
header ul a {
  color: #DCE2F0;
}

#app {
  height: 100%;
}

#loading {
  position: absolute;
  top: 0;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
}
#loading::after {
  content: "";
  text-align: center;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
  background-color: #fff;
  color: black;
  overflow: hidden;
  -webkit-animation: load 1s linear;
          animation: load 1s linear;
}

@-webkit-keyframes load {
  0% {
    width: 0;
    height: 2px;
    opacity: 0;
  }
  50% {
    width: 100%;
    opacity: 1;
    height: 2px;
  }
  100% {
    height: 20px;
  }
}

@keyframes load {
  0% {
    width: 0;
    height: 2px;
    opacity: 0;
  }
  50% {
    width: 100%;
    opacity: 1;
    height: 2px;
  }
  100% {
    height: 20px;
  }
}
@-webkit-keyframes scale {
  0% {
    height: 2px;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}
@keyframes scale {
  0% {
    height: 2px;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}
#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 4000px;
}
#container .circle {
  perspective: 800;
  position: absolute;
  z-index: -2;
}
#container .circle .cube {
  width: 16.5vw;
  height: 16.5vw;
  position: relative;
  top: 0;
  -webkit-animation: spin 5s infinite linear;
          animation: spin 5s infinite linear;
  transform-style: preserve-3d;
}
#container .circle .cube > div {
  width: 16.5vw;
  height: 16.5vw;
  position: absolute;
  border: 1px solid #333;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
}
#container .circle .cube .one {
  transform: rotateX(90deg) translateZ(8.25vw);
  background-color: #E3493B;
}
#container .circle .cube .two {
  transform: translateZ(8.25vw);
  background-color: #23B5AF;
}
#container .circle .cube .three {
  transform: rotateY(90deg) translateZ(8.25vw);
  background-color: #E8487F;
}
#container .circle .cube .four {
  transform: rotateY(180deg) translateZ(8.25vw);
  background-color: #28B78D;
}
#container .circle .cube .five {
  transform: rotateY(-90deg) translateZ(8.25vw);
  background-color: #FF5B00;
}
#container .circle .cube .six {
  transform: rotateX(-90deg) translateZ(8.25vw);
  background-color: #FEEB51;
}
#container #main-text {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  color: #DCE2F0;
  z-index: -1;
  display: flex;
  font-family: "Prata", serif;
  font-size: 65px;
}
#container #main-text > div {
  width: 33%;
}
#container #main-text > div:nth-of-type(2) {
  align-self: center;
}
#container #main-text > div:nth-of-type(3) {
  align-self: flex-end;
}

#menu {
  width: 33vw;
  height: 33vw;
  position: relative;
  transform-style: preserve-3d;
  z-index: -1;
}

.circleItem {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 30vw;
  height: 30vw;
  background-color: #DCE2F0;
  opacity: 0.9;
  transition: 1s;
}
.circleItem img {
  width: 100%;
  height: 100%;
}
.circleItem:nth-child(1) {
  z-index: 1;
}
.circleItem:nth-child(2) {
  z-index: 2;
}
.circleItem:nth-child(3) {
  z-index: 3;
}
.circleItem:nth-child(4) {
  z-index: 4;
}
.circleItem:nth-child(5) {
  z-index: 5;
}
.circleItem:nth-child(6) {
  z-index: 6;
}
.circleItem:nth-child(7) {
  z-index: 7;
}
.circleItem .circleTop {
  position: absolute;
  width: 100%;
  top: -3vw;
}

.v-enter-active, .v-leave-active {
  transition: 1s linear;
  transform: scale(1);
}

.v-enter, .v-leave-to {
  opacity: 0;
  transform: scale(0.5);
}

#full {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transition: all 0.6s;
}
#full > div {
  width: 100vw;
  height: 100vh;
  background-color: #DCE2F0;
  transition: all 0.4s;
  overflow: hidden;
}
#full #project {
  width: 300%;
  height: 100%;
  display: flex;
  align-items: center;
}
#full #project li {
  width: 33.3%;
  height: 80%;
  background-color: #50586C;
}