<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <!-- <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="js/index.js"></script> 
</head>

<body>
    
    <div id="app">
        <header>
            <ul>
                <li><a href="#" @click="home" class="menuColor">Home</a></li>
                <li><a href="#" class="menuColor">About Me</a></li>
                <li><a href="#" class="menuColor">Project</a></li>
                <li><a href="#" class="menuColor">Skill</a></li>
                <li><a href="#" class="menuColor">Contact</a></li>
                <li><a href="#" class="menuColor">more</a></li>
            </ul>
        </header>
            <transition>
                <div id="full" v-show="sub" @wheel.prevent="subWheel">
                    <!-- <div v-for="(item,index) in circleStyle" :key="item"class="full">{{index}}</div> -->
                    <div class="full">About Me</div>
                    <div class="full">Project</div>
                    <div class="full">skill</div>
                    <div class="full">Contact</div>
                    <div class="full">more</div>
                </div>
            </transition>
            
        
       <transition>
        <div id="container" v-show="main" @wheel="mainWheel">
            <div class="circle"></div>
            <div id="menu">
                <div v-for="(item,index) in circleStyle" @click="subPage" class="circleItem" :style="item">{{index}}</div>
                <!-- <div  @click="subPage" class="circleItem" :style="circleStyle[0]">{{index}}</div>
                <div  @click="subPage" class="circleItem" :style="circleStyle[1]">{{index}}</div>
                <div  @click="subPage" class="circleItem" :style="circleStyle[2]">{{index}}</div>
                <div  @click="subPage" class="circleItem" :style="circleStyle[3]">{{index}}</div>
                <div  @click="subPage" class="circleItem" :style="circleStyle[4]">{{index}}</div> -->

              
            </div>
        </div>
    </transition>
    </div>
    
    
</body>

</html>